{% extends 'static_base_html/static_base.html' %}
{% load staticfiles %}

{% block title %}天天生鲜-首页{% endblock%}
{% block link %}
<link rel="stylesheet" href="//at.alicdn.com/t/font_1720053_gl8y1m76ujm.css">
{% endblock %}



{% block content %}
	<div class="navbar_con">
		<div class="navbar">
			<h1 class="fl">全部商品分类</h1>
			<ul class="navlist fl">
				<li><a href="">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="center_con clearfix">
        {# 商品分类 #}
		<ul class="subnav fl">
            {% for type in goods_types %}
                <li><a href=""><i class="iconfont {{ type.logo }}"></i>{{ type.name }}</a></li>
			{% endfor %}
		</ul>
        {# 分类轮播图 #}
		<div class="slide fl">
			<ul class="slide_pics">
                {% for banner in index_banners %}
                    <li><a href="#"><img src="{{ banner.image }}" alt="幻灯片"></a></li>
				{% endfor %}
			</ul>
			<div class="prev"></div>
			<div class="next"></div>
			<ul class="points"></ul>
		</div>

    {# 促销轮播图 #}
		<div class="adv fl">
            {% for banner in pro_banners %}
			<a href="{{ banner.url }}"><img src="{{ banner.image }}"></a>
            {% endfor %}
		</div>
	</div>

    {% for type in goods_types %}
	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="">{{ type.name }}</h3>
			<div class="subtitle fl">
                {# 定类轮播图 #}
                {% for banner in type.title_banner %}
                    <a href="{% url 'goods:detail' banner.sku.id  %}">{{ banner.sku.name }}</a>
                {% endfor %}
			</div>
{#			<a href="{% url 'goods:list' type.id 1 %}" class="goods_more fr" id="fruit_more">查看更多 ></a>#}
        			<a href="#" class="goods_more fr" id="fruit_more">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="{{ type.image}}"></div>
			<ul class="goods_list fl">
                {% for show_goods in type.good_sku_obj %}
				<li>
					<h4><a href="#">{{ show_goods.name }}</a></h4>
					<a href="#"><img src="{{ show_goods.image }}"></a>
					<div class="prize">¥ {{ show_goods.price }}</div>
				</li>
                {% endfor %}
			</ul>
		</div>
	</div>
    {% endfor %}
{% endblock %}