{% extends 'goods/base_detail_list.html' %}

{% block title %}
    搜索结果
{% endblock title %}

{% block content %}
    <div class="breadcrumb">
		<a href="#">搜索结果:</a>
		<span>></span>
		<a href="#">{{ query }}</a>
	</div>
    <div class="main_wrap clearfix">

        <div class="r_wrap fr clearfix">


            <ul class="goods_type_list clearfix">
                {% for item in page %}  {# 这里可以将结果按照销量或者是热度进行排序 #}
                    <li>
                        <a href="{% url 'goods:detail' item.object.id %}"><img src="{{ item.object.image }}"></a>
                        <h4><a href="{% url 'goods:detail' item.object.id %}">{{ item.object.name }}</a></h4>
                        <div class="operate">
                            <strong class="prize">￥{{ item.object.price }}</strong>
                            <p class="desc">{{ item.object.desc }}</p>
                            <p class="desc">已有<em>{{ item.object.goodscomments.goods.length }}+</em>评价</p>
                            <p class="unit">{{ item.object.price }}/{{ item.object.unite }}</p>
                            <a href="#" class="add_goods" title="加入购物车"></a>
                        </div>
                    </li>
                {% endfor %}
            </ul>

            <div class="pagenation">
                {% if page.has_previous %}
                    <a href="{% url 'haystack_search' %}?q={{ query }}&page={{ page.previous_page_number }}">上一页</a>
                {% else %}
                    <a href="#">上一页</a>
                {% endif %}

                {% for page_num in paginator.page_range %}
                    {% if page_num == page.number %}
                        <a href="{% url 'haystack_search' %}?q={{ query }}&page={{ page_num }}" class="active">
                            {{ page_num }}</a>
                    {% else %}
                        <a href="{% url 'haystack_search' %}?q={{ query }}&page={{ page_num }}">{{ page_num }}</a>
                    {% endif %}
                {% endfor %}


                {% if page.has_next %}
                    <a href="{% url 'haystack_search' %}?q={{ query }}&page={{ page.next_page_number }}">下一页</a>
                {% else %}
                    <a href="#">下一页</a>
                {% endif %}

            </div>
        </div>

    </div>
{% endblock %}